.Projects {
}

.Projects.Projects--desktopUI .ProjectsLayout {
  display: flex;
}

.Projects.Projects--desktopUI .ProjectsStage {
  flex: 1;
  min-width: 1px;
}

.ProjectsNavDesktop {
  flex: 0 0 11rem;
  min-width: 1px;
}

.ProjectsNavSmallScreens {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: var(--color-smoke);
}
