.Projects {
  position: relative;
}

.Projects.Projects--desktopUI .ProjectsLayout {
  display: flex;
}

.Projects.Projects--desktopUI .ProjectsStage {
  flex: 1;
  min-width: 1px;
}

.ProjectsNavDesktop {
  flex: 0 0 var(--desktopNavWidth);
  min-width: 1px;
  background: var(--color-frosted);
  position: relative;
  overflow: auto;
}

.ProjectsNavDesktop::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0.5rem;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, var(--color-shadow) 100%);
  pointer-events: none;
}

@keyframes navEnter {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.ProjectsNavSmallScreens {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: var(--color-frosted);
  opacity: 0;
  transform: scale(0.85);
  transform-origin: center 6rem;
  animation-name: navEnter;
  animation-duration: var(--timing);
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  overflow: auto;
}

.ProjectsNavClose {
  display: block;
  padding: 1rem 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.ProjectsNavMenuList {
  margin: 0 auto;
  max-width: 32rem;
  padding: 0 1rem;
  list-style-type: none;
}

.Projects.Projects--desktopUI .ProjectsNavMenuList {
  padding: 0;
}

.ProjectsNavMenuListItem {
  margin: 0;
  padding: 0;
  display: block;
  border-bottom: 0.125rem solid var(--color-light);
}
