.Projects {
  position: relative;
}

.Projects.Projects--desktopUI .ProjectsLayout {
  display: flex;
}

.Projects.Projects--desktopUI .ProjectsStage {
  flex: 1;
  min-width: 1px;
}

.ProjectsNavDesktop {
  flex: 0 0 var(--desktopNavWidth);
  min-width: 1px;
  background: var(--color-frosted);
  position: relative;
  overflow: auto;
}

.ProjectsNavDesktop::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0.5rem;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, var(--color-shadow) 100%);
  pointer-events: none;
}

.ProjectsNavSmallScreens {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: var(--color-smoke);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ProjectsNavMenuList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.ProjectsNavMenuListItem {
  margin: 0;
  padding: 0;
  display: block;
}

.Projects.Projects--desktopUI .ProjectsNavMenuListItem {
  border-bottom: 0.125rem solid var(--color-light);
}
