.LogoLink {
  display: block;
  box-sizing: border-box;
  padding: 0.125rem;
  overflow: hidden;
  width: 2.125rem;
}

.LogoLink > svg {
  width: 9.75rem;
}

.LogoLink::after {
  display: none;
}

.LogoLink::before {
  opacity: 0;
  bottom: -0.25rem;
}

.LogoLink:focus::before {
  opacity: 1;
}

.LogoLink.LogoLink--tabletUI {
  overflow: visible;
  width: auto;
}
