.Icon {
  display: inline-block;
  vertical-align: middle;
}

.Icon > svg {
  width: 1em;
  height: 1em;
  fill: currentcolor;
  display: block;
}

.Icon--xSmall {
  font-size: 1rem;
}

.Icon--small {
  font-size: 1.5rem;
}

.Icon--medium {
  font-size: 2rem;
}

.Icon--large {
  font-size: 5rem;
}

.Icon--huge {
  font-size: 12rem;
}

/* IE will at least get the right icon size when we tell it to go away */
@supports (--foo: hi-mom) {
  .Icon--xSmall {
    font-size: var(--icon-size-xSmall);
  }

  .Icon--small {
    font-size: var(--icon-size-small);
  }

  .Icon--medium {
    font-size: var(--icon-size-medium);
  }

  .Icon--large {
    font-size: var(--icon-size-large);
  }

  .Icon--huge {
    font-size: var(--icon-size-huge);
  }
}

.Icon--light {
  color: var(--color-light);
}

.Icon--active {
  color: var(--color-active);
}

.Icon--dark {
  color: var(--color-dark);
}
