.Icon {
  display: inline-block;
  vertical-align: middle;
}

.Icon > svg {
  width: 1em;
  height: 1em;
  fill: currentcolor;
  display: block;
}

.Icon--xSmall {
  font-size: var(--icon-size-xSmall);
}

.Icon--small {
  font-size: var(--icon-size-small);
}

.Icon--medium {
  font-size: var(--icon-size-medium);
}

.Icon--large {
  font-size: var(--icon-size-large);
}

.Icon--huge {
  font-size: var(--icon-size-huge);
}

.Icon--light {
  color: var(--color-light);
}

.Icon--active {
  color: var(--color-active);
}

.Icon--dark {
  color: var(--color-dark);
}
