.Icon {
  display: inline-block;
  vertical-align: middle;
}

.Icon > svg {
  width: 1em;
  height: 1em;
  fill: currentcolor;
  display: block;
}

.Icon--small {
  font-size: 1.5rem;
}

.Icon--medium {
  font-size: 3rem;
}

.Icon--large {
  font-size: 6rem;
}

.Icon--light {
  color: var(--color-light);
}

.Icon--active {
  color: var(--color-active);
}

.Icon--dark {
  color: var(--color-dark);
}
