.ProjectsActionLink {
  display: flex;
  align-items: center;
  color: var(--color-dark);
  font-family: var(--font-family-display);
  text-transform: uppercase;
  padding: 0.75rem;
  background: var(--color-frosted);
  margin: 0.25rem;
  line-height: 1;
  white-space: normal;
}

.ProjectsActionLink:focus {
  text-decoration: underline;
}

.ProjectsActionLink::before {
  display: none;
}

.ProjectsActionLinkText {
  margin-left: 0.5rem;
}

.ProjectsActionLink.ProjectsActionLink--desktopUI {
  margin: 0.5rem;
  padding: 1rem;
}

/* HACK: override top margin if used with infolist :( */
.PageSecondaryInfoList + .ProjectsActionLink,
.PageSecondaryInfoList + .ProjectsActionLink.ProjectsActionLink--desktopUI {
  margin-top: 0;
}
