.ProjectsActionLink {
  display: flex;
  align-items: center;
  color: var(--color-dark);
  font-family: var(--font-family-display);
  text-transform: uppercase;
  padding: 0.75rem;
  background: var(--color-frosted);
  margin: 0.25rem;
  line-height: 1;
  white-space: normal;
}

.ProjectsActionLink:focus {
  text-decoration: underline;
}

.ProjectsActionLink::before {
  display: none;
}

.ProjectsActionLinkText {
  margin-left: 0.5rem;
}

/* override top margin if used with infolist :( */
.PageSecondaryInfoList + .ProjectsActionLink {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  .ProjectsActionLink {
    margin: 0.5rem;
    padding: 1rem;
  }
}
