.ProjectsHeading {
  text-align: center;
}

.ProjectsHeadingHeadline {
  margin: 0;
  color: var(--color-frosted);
  font-family: var(--font-family-display);
  text-transform: uppercase;
  line-height: 0.9;
  font-size: 3rem;
  letter-spacing: -0.0625rem;
  font-weight: normal;
  padding: 3rem 0.5rem;
  outline: none;
}

@keyframes projectsHeading {
  to {
    transform: translate3d(0, 0, 0) rotate3d(0, 1, 0, 45deg);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .ProjectsHeadingHeadline {
    font-size: 3.5rem;
  }
}

/* Horrible hack: TODO: Make App component determine the desktopUI bool */
@media screen and (max-width: 1024px) {
  .ProjectsHeadingHeadline {
    background: transparent !important;
  }
}

@media screen and (min-width: 1024px) {
  .ProjectsHeading {
    perspective: var(--perspective);
    position: relative;
    z-index: 1;
    min-height: calc(var(--app-header-offset) - 1rem);
  }

  .ProjectsHeadingLayout {
    opacity: 0;
    transform: translateX(-50%) scale(0.5) rotate3d(0, 1, 0, 180deg);
    animation: projectsHeading;
    animation-duration: var(--timing);
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: calc(var(--timing) * 2);
  }

  .ProjectsHeadingHeadline {
    padding: 0;
    display: inline;
    line-height: 1.2;
    box-shadow:
      -0.25rem 0.25rem 1.5rem rgba(0,0,0,0.2);
  }
}

@media screen and (min-width: 1100px) {
  .ProjectsHeadingHeadline {
    font-size: 4.5rem;
  }
}

@media print {
  .ProjectsHeadingHeadline {
    background: transparent !important;
    color: var(--color-dark);
    padding: 0;
    margin: 1rem 0;
  }

  .ProjectsHeading {
    text-align: start;
  }
}
