.ProjectsHeading {
  text-align: center;
  margin-bottom: 1rem;
}

.ProjectsHeadingHeadline {
  margin: 0;
  color: var(--color-frosted);
  font-family: var(--font-family-display);
  text-transform: uppercase;
  line-height: 0.9;
  font-size: 3rem;
  letter-spacing: -0.0625rem;
  font-weight: normal;
  box-shadow: var(--shadow-level-2);
  padding: 1rem;
  outline: none;
}

@keyframes projectsHeading {
  to {
    transform: translate3d(0, 0, 0) rotate3d(0, 1, 0, 45deg);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .ProjectsHeadingHeadline {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 1100px) {
  .ProjectsHeading {
    perspective: var(--perspective);
  }

  .ProjectsHeadingLayout {
    opacity: 0;
    transform: translateX(-50%) scale(0.5) rotate3d(0, 1, 0, 180deg);
    animation: projectsHeading;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 0.5s;
  }

  .ProjectsHeadingHeadline {
    padding: 0;
    font-size: 4.5rem;
    display: inline;
    line-height: 1.2;
    box-shadow:
      -0.25rem 0.25rem 1.5rem rgba(0,0,0,0.2);
  }
}
