.PageBackButton {
  padding: 0.5rem;
  border: none;
  background: var(--color-dark);
  color: var(--color-light);
  display: block;
  width: 100%;
  font-family: var(--font-family-display);
  font-size: 1rem;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
}

.PageBackButton:focus {
  background: lime;
}
