.PageBackButton {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1.5rem;
  display: block;
  width: 100%;
  text-align: center;
}

.PageBackButtonBurger {
  /* rem-based heights not working with inline-block, maybe? */
  height: 20px;
  width: 1.5rem;
  margin-right: 0.75rem;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  transform: translateY(-0.125rem);
}

.PageBackButtonPatty {
  display: block;
  /* rem-based heights not working with inline-block, maybe? */
  height: 4px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all var(--timing);
  opacity: 1;
}

.PageBackButtonPatty:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}

.PageBackButtonPatty:nth-child(3) {
  top: auto;
  bottom: 0;
}

@media screen and (min-width: 1024px) {
  .PageBackButton {
    width: auto;
    margin: 0;
  }

  .PageBackButton > .Button {
    bottom: 0.5rem;
    left: 100%;
    position: fixed;
    width: auto;
    z-index: 1;
  }

  .PageBackButton > .Button:focus {
    left: auto;
    right: 0.5rem;
  }
}
