.PageVideoContainer {
  position: relative;
}

.PageVideo {
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 1s;
}

.PageVideo.PageVideo--loaded {
  opacity: 1;
}

.PageVideoOverlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-seethru);
}

.PageSecondaryInfo {
  /* background: var(--color-frosted); */
  background: var(--color-seethru);
}

.PageSecondaryInfoLayout {
  display: flex;
}

.PageSecondaryInfoYear {
  flex: 0 0 11rem;
  min-width: 1px;
  color: var(--color-light);
  font-family: var(--font-family-display);
  font-size: 3rem;
  line-height: 0.9;
  text-transform: uppercase;
  letter-spacing: -0.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  padding: 0.75rem;
}

.PageSecondaryInfoList {
  padding: 0.5rem 0.75rem;
  margin: 0.25rem;
  background: var(--color-frosted);
}

.PageSecondaryInfoMain {
  flex: 1;
  min-width: 1px;
}

.PageDetail {
  background: var(--color-frosted);
  box-sizing: border-box;
  padding: 1rem;
  margin: 0 0 0.5rem;
}

.PageDetail > p {
  margin: 0;
}

.PageEmoji {
  font-size: 1.5rem;
}

@media screen and (min-width: 62rem) {
  .PageVideoContainer {
    height: 300px;
    overflow: hidden;
  }

  .PageVideo {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
  }

  .Page {
    display: flex;
    min-height: 100vh;
  }

  .PagePrimary {
    padding: 1rem;
    flex: 1;
  }

  .PageSecondary {
    flex: 1;
    padding: 1rem;
    padding-top: calc(var(--app-header) * 1.25);
  }

  .PageVideoContainer {
    height: 400px;
    /* perspective: 38rem; */
  }

  .PageVideo {
    /* transform: rotate3d(0, 1, 0, -15deg); */
  }
}
