.PageVideoContainer {
  position: relative;
}

.PageVideo {
  width: 100%;
  height: auto;
}

.PageVideoOverlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-active);
}

.PageSecondaryInfo {
  display: flex;
  background: var(--color-frosted);
}

.PageDetail {
  background: var(--color-frosted);
  box-sizing: border-box;
  padding: 1rem;
  margin: 0 0 0.5rem;
}

.PageDetail > p {
  margin: 0;
}

.PageEmoji {
  font-size: 1.5rem;
}

@media screen and (min-width: 62rem) {
  .PageVideoContainer {
    height: 300px;
    overflow: hidden;
  }

  .PageVideo {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
  }

  .Page {
    display: flex;
    height: 100%;
  }

  .PagePrimary {
    flex: 1;
  }

  .PageSecondary {
    flex: 1;
    padding-top: calc(var(--app-header) * 1.25);
  }

  .PageVideoContainer {
    height: 400px;
    /* perspective: 38rem; */
  }

  .PageVideo {
    /* transform: rotate3d(0, 1, 0, -15deg); */
  }
}
