.AppHeader {
  background: var(--color-frosted);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 1rem;
  height: var(--app-header-height);
  position: relative;
  z-index: 1;
  box-shadow: var(--shadow-level-3);
}

.AppHeader__Secondary {
  box-sizing: border-box;
  flex: 1;
  padding-left: 1rem;
}

@media screen and (min-width: 768px) {
  .AppHeader__Primary {
    flex: 0 0 10rem;
  }
}

@media screen and (min-width: 1024px) {
  .AppHeader {
    position: fixed;
    top: 0;
    right: 0;
    background: var(--color-frosted);
  }

  .AppHeader__Secondary {
    padding-left: 2rem;
  }
}

.AppNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.AppNav__ListItem {
  margin: 0 1rem 0 0;
}

.AppNav__ListItem:last-of-type {
  margin-right: 0;
}

.AppNav__ListItem.AppNav__ListItem--Icon .AppNav__Link {
  padding: 0;
}

.AppNav__Link {
  font-family: "OpenSansCond";
  text-transform: uppercase;
  display: block;
  color: var(--color-dark);
  padding: 0.125rem 0;
  text-decoration: none;
  font-size: 1.125rem;
}

.AppNav__Link::before {
  height: 0.25rem;
  opacity: 0;
  bottom: -0.125rem;
}

.AppNav__Link.AppNav__Link--Active::before,
.AppNav__Link:focus::before {
  opacity: 1;
}
