.ProjectsNavButton {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 1rem;
  font-size: 1.25rem;
  border: none;
  font-family: var(--font-family-display);
  text-transform: uppercase;
  line-height: 1;
  color: var(--color-frosted);
  outline: 0;
  background: transparent;
  position: relative;
  text-align: right;
  overflow: hidden;
}

.ProjectsNavButton:focus {
  text-decoration: underline;
}

.ProjectsNavButton.ProjectsNavButton--desktopUI {
  font-size: 1rem;
  text-align: left;
  color: var(--color-dark);
  min-height: 4rem;
  padding-left: 1.75rem;
  margin: 0;
}

.ProjectsNavButtonText {
  position: relative;
  z-index: 1;
}

.ProjectsNavButtonFlag {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: all var(--timing);
  transition-timing-function: ease-out;
  transform-origin: left center;
  -webkit-backface-visibility: hidden;
}

.ProjectsNavButton.ProjectsNavButton--desktopUI .ProjectsNavButtonFlag {
  transform: scale(.66);
  width: 0.75rem;
}

.ProjectsNavButton:not(.ProjectsNavButton--active) .ProjectsNavButtonFlag {
  opacity: 0.5;
}

.ProjectsNavButton:hover .ProjectsNavButtonFlag {
  opacity: 1;
}

.ProjectsNavButton:not(.ProjectsNavButton--desktopUI):not(.ProjectsNavButton--active) .ProjectsNavButtonFlag {
  transform: scaleX(0.05);
}

.ProjectsNavButton:not(.ProjectsNavButton--desktopUI):hover .ProjectsNavButtonFlag {
  transform: scaleX(1);
}

.ProjectsNavButton--active.ProjectsNavButton--desktopUI .ProjectsNavButtonFlag {
  transform: translate3d(calc(var(--desktopNavWidth) - 0.75rem), 0, 0);
}

.ProjectsNavButton.ProjectsNavButton--desktopUI:not(.ProjectsNavButton--active):hover .ProjectsNavButtonFlag {
  transform: scale(1);
}
