:root {
  --root-font-size: 90%;

  --color-light: white;
  --color-medium: #666;
  --color-dark: #333;
  --color-seethru: rgba(255, 255, 255, 0.2);
  --color-clouds: rgba(255, 255, 255, 0.66);
  --color-frosted: rgba(255, 255, 255, 0.95);
  --color-dust: rgba(0, 0, 0, 0.05);
  --color-shadow: rgba(0, 0, 0, 0.2);
  --color-smoke: rgba(0, 0, 0, 0.75);
  --color-dirty-oven: rgba(0, 0, 0, 0.9);
  --color-active: rebeccapurple;
  --color-info: #2382f8;
  --color-bad-news: #fa3f40;
  --color-good-news: #59d66f;

  --app-header-height: 4rem;
  --app-header-offset: calc(var(--app-header-height) + 1.75rem);

  --icon-size-xSmall: 1rem;
  --icon-size-small: 1.5rem;
  --icon-size-medium: 2rem;
  --icon-size-large: 5rem;
  --icon-size-huge: 12rem;

  --font-family-base: "OpenSans";
  --font-family-display: "OpenSansCond";

  --desktopNavWidth: 15rem;

  --breakpointTablet: 768px;
  --breakpointDesktop: 1200px;

  --shadow-level-0: inset 0 0.0625rem 0.25rem var(--color-shadow);
  --shadow-level-1: 0 0 0.25rem var(--color-shadow);
  --shadow-level-2: 0 0 1rem var(--color-shadow);
  --shadow-level-3: 0 0 2rem var(--color-shadow);

  --perspective: 60rem;
  --timing: 0.3s; /* update line 67 in Pages/Pages.js if this value changes */

  font-size: var(--root-font-size);
}

::selection {
  background: var(--color-active);
  color: var(--color-light);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-base), sans-serif;
  background: var(--color-dark);
  color: var(--color-dark);
  line-height: 1.8;
}

:root,
body,
#root {
  height: 100%;
}

.sr {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

button {
  appearance: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  box-sizing: border-box;
  margin: 0;
  -webkit-backface-visibility: hidden;
}

button::-moz-focus-inner {
  border: 0;
}

a {
  backface-visibility: hidden;
  position: relative;
  color: var(--color-active);
  text-decoration: none;
  outline: none;
  white-space: nowrap;
}

a::before,
a::after {
  content: "";
  background: var(--color-active);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: all 0.2s;
}

a::before {
  height: 0.0625rem;
  transform-origin: center top;
}

a::after {
  height: 100%;
  transform: scaleX(0);
  opacity: 0;
}

a:hover::after,
a:focus::after {
  transform: scaleX(1);
  opacity: 0.15;
}

a:focus::before {
  transform: scaleY(3);
}

h2 {
  font-size: 2rem;
  font-style: italic;
  font-weight: normal;
  margin: 1.5rem 0;
  line-height: 1.2;
}

h3 {
  font-family: var(--font-family-display), sans-serif;
  text-transform: uppercase;
  font-size: 1.75rem;
  line-height: 1.2;
}

code {
  display: inline-block;
  white-space: nowrap;
  padding: 0.0625rem 0.25rem;
  line-height: 1.4;
  border: 1px solid var(--color-shadow);
  box-sizing: border-box;
  background: var(--color-dust);
  border-radius: 0.25rem;
  font-size: 0.875rem;
  vertical-align: middle;
  font-family: "Monaco", "Consolas", monospace;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media screen and (min-width: 768px) {
  :root {
    --root-font-size: 100%;
    --app-header-height: 5rem;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --root-font-size: 105%;
  }
}

@media screen and (min-width: 1500px) {
  :root {
    --root-font-size: 110%;
    --desktopNavWidth: 16.5rem;
  }
}

@media screen and (min-width: 1700px) {
  :root {
    --root-font-size: 115%;
    --desktopNavWidth: 19rem;
  }
}

@media print {
  :root {
    --color-dark: black;
  }

  body {
    background: transparent;
  }
}
