:root {
  --root-font-size: 90%;
  --color-text: #222;
  --color-body: white;
  --color-light: white;
  --color-seethru: rgba(255, 255, 255, 0.2);
  --color-clouds: rgba(255, 255, 255, 0.66);
  --color-frosted: rgba(255, 255, 255, 0.95);
  --color-smoke: rgba(0, 0, 0, 0.75);
  --color-dark: #333;
  --color-active: rebeccapurple;
  --app-header: 4rem;
  --icon-size-xSmall: 1rem;
  --icon-size-small: 1.5rem;
  --icon-size-medium: 3rem;
  --icon-size-large: 5rem;
  --timing: 0.3s;
  --font-family-base: "OpenSans";
  --font-family-display: "OpenSansCond";
  --color-shadow: rgba(0, 0, 0, 0.25);
  --desktopNavWidth: 11rem;
  --shadow-level-1: 0 0 0.25rem var(--color-shadow);
  --shadow-level-2: 0 0 1rem var(--color-shadow);
  --shadow-level-3: 0 0 2rem var(--color-shadow);
  --perspective: 60rem;
  height: 100%;
  font-size: var(--root-font-size);
}

::selection {
  background: var(--color-active);
  color: var(--color-light);
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-base), sans-serif;
  background: var(--color-active);
  color: var(--color-dark);
  line-height: 1.4;
}

#root {
  height: 100%;
}

.sr {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

button {
  appearance: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
}

a {
  backface-visibility: hidden;
  position: relative;
  color: var(--color-active);
  text-decoration: none;
  outline: none;
}

a::before,
a::after {
  content: "";
  background: var(--color-active);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: all 0.2s;
}

a::before {
  height: 0.0625rem;
  transform-origin: center top;
}

a::after {
  height: 100%;
  transform: scaleX(0);
  opacity: 0;
}

a:hover::after,
a:focus::after {
  transform: scaleX(1);
  opacity: 0.15;
}

a:focus::before {
  transform: scaleY(3);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media screen and (min-width: 48rem) {
  :root {
    --root-font-size: 95%;
  }
}

@media screen and (min-width: 1100px) {
  :root {
    --root-font-size: 100%;
    --app-header: 5rem;
  }

  body {
    --color-body: #333;
  }
}

@media screen and (min-width: 75rem) {
  :root {
  }
}
