.Image {
  display: block;
}

.Image:not(.Image--loaded) {
  background: var(--color-smoke);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 20rem;
}

.Image:not(.Image--loaded) .ImageSrc {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
