.AppFooter {
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  color: var(--color-light);
  text-transform: uppercase;
}

@media screen and (min-width: 1100px) {
  .AppFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    background: var(--color-frosted);
    box-shadow: var(--shadow-level-3);
    color: var(--color-text);
  }
}
