@keyframes bg {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.Background,
.BackgroundInner {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.Background {
  position: fixed;
  z-index: -1;
}

.Background.Background--isProjectOnDesktopUI {
  left: var(--desktopNavWidth);
  width: calc(100% - var(--desktopNavWidth));
  animation-name: bg;
  animation-duration: var(--timing);
  animation-fill-mode: forwards;
  animation-delay: var(--timing);
  animation-timing-function: ease-out;
  opacity: 0;
  transform: translate3d(0, 0, 0);
  transform-origin: left center;
}

@media print {
  .Background {
    display: none;
  }
}
